# Maven — covers ALL services
**/target/
*.class
*.jar

# IntelliJ — covers ALL services
.idea/
**/*.iml
*.iws
*.ipr

# Mac — covers ALL services
.DS_Store
**/.DS_Store

# Logs
*.log
**/logs/

# Environment
.env
**/application-prod.yaml

**/HELP.md